/**
 * ハンバーガーボタンの運用はcssで実装
 * 
 */
.btn_hamburger {
	position: relative; 	/* body対する位置 */
	left: 10px;
	top: 10px;
	display: block;
	box-sizing: content-box;
	width: 45px;
	height: 40px;
	cursor: pointer;
	z-index: 100000;
	background: #cccccc;
}
.btn_hamburger span {
	display: block;
	position: absolute; 
	width: 70%;
	border-bottom: solid 3px #000000;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
	margin: 0 auto;
	top: 19px;		/* 目視確認で調整する値 */
	left: 15%;
}
.btn_hamburger span:nth-child(1) {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.btn_hamburger span:nth-child(2) {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}
.btn_hamburger span:nth-child(3) {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
/* 最初のspanをマイナス45度に */
.btn_hamburger.active span:nth-child(1) {
	-webkit-transform: rotate(-45deg) translateY(0px);
	-moz-transform: rotate(-45deg) translateY(0px);
	transform: rotate(-45deg) translateY(0px);
}
/* 2番目は消える */
.btn_hamburger.active span:nth-child(2) {
	display: none;
}
/* 3番目のspanを45度に */
.btn_hamburger.active span:nth-child(3) {
	-webkit-transform: rotate(45deg) translateY(0px);
	-moz-transform: rotate(45deg) translateY(0px);
	transform: rotate(45deg) translateY(0px);
}
/* ハンバーガーボタン */

/* グローバルメニュー */
.menu {
    padding: 0em 0em;
    text-align: left;
    color: #000;
	background: aliceblue;
	z-index: 11;
}

/* 左マージンをなくしてリスト標準の間を消す */
.menu ul {
	margin: 0;
	padding: 0;
}

.menu li {
	width: 100%;
	padding: 0;
	border-top: 1px solid aliceblue;
	list-style-type: none;
	position: relative;
}

/* リンク */
.menu li a {
	display: block;
	padding: 1em 5%;
	margin: 0;
	color: #000;
	background-color: aliceblue;
}

/* 延長可能の目印としての[+] */
.menu ul > li > a + ul + a {
	display: block;
	padding: 1em 5%;
	margin: 0;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

/* サブメニューの初期設定 */
.menu li a + ul {
	display: none;
}

/* グローバル設定 */
/* .row {
	overflow: relative;
	left: 0px;
	position: relative;
	transform: translateX(0px);
} */
/* コンテンツ各種をrowに格納した場合のスライド設定 */
/* .menuに.activeが追加 */
/* .menu.active {
	transform: translateX(0%);
	display: block;
} */
/* .row.active {
	transform: translateX(300px);
	overflow: hidden;
	position: fixed;
} */
/* End /グローバル設定 */
